<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Your order has been delivered!</h1>
    <p>You can view your orders at <%= @url %>.</p>
    <p>We thank you for flying with swish.io.</p>
  </body>
</html>