<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to swish.io, <%= @user.first_name %>!</h1>
    <p>You have successfully signed up.</p>
    <p>To login to the site, just follow this link: <%= @url %>.</p>
    <p>Stay tuned for updates as we prepare to take off!</p>
  </body>
</html>