<iframe name="landingpage" class="landingpage" scrolling="no" src="http://ppcdn.500px.org/30942515/570495a8e09b180da51431db025dd6a5570049dd/5.jpg?wmode=opaque" style="width:100%; height:800px;"></iframe> 

<div id="welcome"> Welcome to Simple Delivery!</div>

<div>
<%= link_to "Sign up!", new_user_registration_path, class:"signup-button" %> </div>