<table class="table table-hover" style="width:90%;">
  <tbody>
<tr class="trackingnumber"><td>Tracking Number:</td><td class="value"> <%= @order.tracking_number %></td></tr>
<tr><td>Status:</td><td class="value"> <%= @order.status %></td></tr>
<tr><td>Distance: </td><td class="value">Package is <%= (Geocoder::Calculations.distance_between(@location.address, @order.delivery_address)*1.60934).round(2) %> km away!</td></tr>
<tr><td>Courier:</td><td class="value"> <%= @order.user != nil ? @order.user.first_name : "Pending" %></td></tr>
</tbody>
</table>