<table class="table table-hover" style="width:90%;">
  <tbody>
    <tr><td>Weight</td><td class="value"> <%= @order.weight.to_s + "kg" %></td></tr>
    <tr><td>Packaging</td><td class="value"> <%= @order.packaging %></td></tr>
  </tbody>
</table>