
<h1>Orders</h1>
<div class="userinfo">
<%= link_to "Create new order", new_user_business_location_order_path(@user, @business, @location) %>
</div>

  <% @location.orders.each do |o| %>
    <div class="userinformation">
      <p>Tracking Number: <%= link_to o.id, user_business_location_order_path(@user, @business, @location, o) %></p>
      <p>Status: <%= o.status %></p>
      <p>Delivery Time: <%= o.delivery_time %></p>
    </div>
    
  <% end %>