//*= require jquery.ui.all
@import "bootstrap";
@import "bourbon";
@import "neat";
@import "pace";
@import "pickadate";
@import "pickatime";

$gw-column: 100px;          // Column Width
$gw-gutter: 40px;

h1, h2, h3 {
  font-family: $helvetica;
  display: inline-block;
  color: #393c3d;

}
.navbar.navbar-default {
  border: none;
}
#welcome {
  position: absolute;
  top: 30%;
  left: 40%;
  color: white;
  font-size: modular-scale(14px,   1, 1.618);
  color: white;
  font-family: $helvetica;
  font-size: 48px;
}
body {
  font-size: 16px;
  font-family: $lucida-grande;
  background-color: #f7f7f7;
}
.field {
  margin-bottom: 12px;
  margin-left: 50px;
  @include border-top-radius(5px);
  @include border-bottom-radius(5px);
  @include border-left-radius(5px);
  @include border-right-radius(5px);

  #{$all-text-inputs} {
    border: 1px solid #2B3A42;
  }
  #{$all-text-inputs-hover} { // Target the :hover pseudo-class
    background: #BDD4DE;
  }
  #{$all-text-inputs-focus} { // Target the :focus pseudo-class
    background: #EFEFEF;
  }
}
.actions input {
  @include button(simple);
  text-decoration: none;
  font-size: 14px;
  margin-left: 75px;
  margin-top: 20px;
    a {
    @include button(simple);
    text-decoration: none;
    font-size: 14px;
    }
}
.message_container {
  position: fixed;
  top: 100px;
  left: 40%;
  float: left;
  margin: 0 auto;
  padding: 5px;
  width: 250px;
  list-style: none;
  word-wrap: break-word;
}
 .error_messages, #alert {
  font-size: 16px;
  border: 1px solid;
  margin-bottom: 40px;
  padding:15px 10px 15px 50px;
  background-repeat: no-repeat;
  background-position: 10px center;
  color: #D8000C;
  background-color: #FFBABA;
  background-image: url('error.png');
  z-index: 1;
}
.userinfo {
  margin-top: 50px;
  margin-left: 50px;
}
.userinformation {
  margin-top: 50px;
  margin-left: 50px;
}
.userinformation .topic {
  font-weight: 900;
}
#notice {
  font-size: 16px;
  color: #4F8A10;
  background-color: #DFF2BF;
  border: 1px solid;
  margin: 10px 0px;
  padding:15px 10px 15px 50px;
  background-repeat: no-repeat;
  background-position: 10px center;
}
.section-content {
  @include span-columns(10);
  @include shift(1);
  background: white;
  margin-top: 0px;
  padding: 30px 40px 45px 40px;
  border: 1px solid #e3e3e3;
  border-radius: 3px;
  display: block;
}

.button {
  @include button(shiny, #08ce03);
  &:hover {
    color: #fff;
    text-decoration: none;
  }
}
.diff {
  float: right;
  margin-bottom: 25px;
  margin-right: 100px;
  @include button;
  margin-top: 20px;
  &:hover {
    color: #fff;
    text-decoration: none;
  }
}
.control-group
{
  font-family: $helvetica;
  color: #393c3d;
}
.landingpage {
  overflow: hidden;
}
.logo {
  @include button(pill);
  &:hover {
    color: #fff;
    text-decoration: none;
  }
}
.collapse {
  background-color: #438eb9;
}
.link {
  color: white;
}
li a {
  text:white;
}
#main {
  background-color:#f7f7f7;
}
.accord {
  margin: 0px 8px 8px 8px;
  float: right;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
  @include linear-gradient(#1e5799, #2989d8);
  @include linear-gradient(to top, #8fdce5, #3dc3d1);
  @include linear-gradient(to top, #8fdce5, #3dc3d1, $fallback: red);
  @include linear-gradient(50deg, #1e5799 0%, #2989d8 50%, #207cca 51%, #7db9e8 100%);
}
.pull-right {
  padding-right: 2em;
}
.pull-left {
  padding-left: 2em;
}

#ui-accordion-accordion-header-0, #ui-accordion-accordion-header-1, #ui-accordion-accordion-header-0 p a, #ui-accordion-accordion-header-1 p a,  #ui-accordion-accordion-header-2 p a,  #ui-accordion-accordion-header-3 p a,  #ui-accordion-accordion-header-4 p a,  #ui-accordion-accordion-header-5 p a,  #ui-accordion-accordion-header-6 p a{
  color: #ffffff;
}
a.insidelink {
  color: blue;
  text-decoration: underline;
  font-weight: bold;
}

/* CUSTOMIZE THE CAROUSEL
    -------------------------------------------------- */

    /* Carousel base class */
.carousel {
  margin-bottom: 0px;
  margin-top: -108px;
}
.carousel .container {
  position: relative;
  z-index: 9;
}
.carousel-control {
  height: 140px;
  margin-top: 150px;
  font-size: 120px;
  text-shadow: 0 1px 1px rgba(0,0,0,.4);
  background-color: transparent;
  border: 0;
  z-index: 10;
}
.carousel .item {
  height: 500px;
}
.carousel img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 500px;
}
.carousel-caption {
  background-color: transparent;
  position: static;
  padding: 0 20px;
  margin-top: 200px;
  font-family: $lucida-grande;
}
.carousel-caption h1,
.carousel-caption .lead {
  margin: 0;
  line-height: 1.25;
  color: #fff;
  font-family: $helvetica;
  text-shadow: 0 1px 1px rgba(0,0,0,.4);
}
.carousel-caption .btn {
  margin-top: 10px;
}

/* Featurettes
------------------------- */

.featurette-divider {
  margin: 80px 0; /* Space out the Bootstrap <hr> more */
}
.featurette {
  padding-top: 120px; /* Vertically center images part 1: add padding above and below text. */
  overflow: hidden; /* Vertically center images part 2: clear their floats. */
}
.featurette-image {
  margin-top: -120px; /* Vertically center images part 3: negative margin up the image the same amount of the padding to center it. */
}

/* Give some space on the sides of the floated elements so text doesn't run right into it. */
.featurette-image.pull-left {
  margin-right: 40px;
}
.featurette-image.pull-right {
  margin-left: 40px;
}

/* Thin out the marketing headings */
.featurette-heading {
  font-size: 50px;
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}
/* RESPONSIVE CSS
-------------------------------------------------- */
@media (max-width: 979px) {
  .container.navbar-wrapper {
    margin-bottom: 0;
    width: auto;
  }
  .navbar-inner {
    border-radius: 0;
    margin: -20px 0;
  }

  .carousel .item {
    height: 500px;
  }
  .carousel img {
    width: auto;
    height: 500px;
  }

  .featurette {
    height: auto;
    padding: 0;
  }
  .featurette-image.pull-left,
  .featurette-image.pull-right {
    display: block;
    float: none;
    max-width: 40%;
    margin: 0 auto 20px;
  }
}
@media (max-width: 767px) {
  .navbar-inner {
    margin: -20px;
  }
  .carousel {
    margin-left: -20px;
    margin-right: -20px;
  }
  .carousel .container {
  }
  .carousel .item {
    height: 300px;
  }
  .carousel img {
    height: 300px;
  }
  .carousel-caption {
    padding: 0 70px;
    margin-top: 1em;
  }
  .carousel-caption h1 {
    font-size: 2em;
  }
  .carousel-control {
    height: 80px;
    margin-top: 80px;
    font-size: 80px;
    text-shadow: 0 1px 1px rgba(0,0,0,.4);
    background-color: transparent;
    border: 0;
    z-index: 10;
  }
  .carousel-caption .lead,
  .carousel-caption .btn {
    font-size: 1em;
    width: 100%;
  }
  .marketing .span4 + .span4 {
    margin-top: 40px;
  }

  .featurette-heading {
    font-size: 30px;
  }
  .featurette .lead {
    font-size: 18px;
    line-height: 1.5;
  }
}
.signup-button {
  @include button;
  position: absolute;
  top: 70%;
  left: 50%;
  color: white;
  font-family: $lucida-grande;
  font-size: modular-scale(14px,   1, 1.618);
  font-weight: regular;
  &:hover {
    color: #fff;
    text-decoration: none;
  }
}
.nav.navbar-nav > li > .link {
color: #fff;
font-weight: normal;
}
.nav.navbar-nav > .navbar-text, .nav.navbar-nav > .dropdown > .dropdown-toggle {
color: #fff;
}
.caret {
  background-color: white;
}
span.navbar-brand a {
text-decoration: none;
color: #f7f7f7;
}
.welcome {
  font-weight: 700;
  height: 20%;
  margin-bottom: 10px;
}
.navbar-header, .nav.navbar-nav > li > .link, .navbar-default .navbar-collapse, .navbar-default .navbar-form {
  background-color: #438eb9;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
  border-color: #1E80B9;
}
.navbar-default .navbar-toggle{
  border-color: #1E80B9;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #cccccc;
}
.lead {
  line-height: 1.2;
  text-shadow: 0 1px 3px rgba(0,0,0,0.3);
  margin-bottom: 8px;
}
#footer {
  @include span-columns(12);
  color: #999;
  font-size: 13px;
  border-top: 1px solid #ddd;
  padding: 15px 0 15px;
  margin: 45px auto;
}
#footer a {
  color: #555;
  font-weight: bold;
}