//*= require jquery.ui.all
@import "bootstrap";
@import "bourbon";
@import "neat";
@import "pace";
@import "picker";
@import "pickadate";
@import "pickatime";

$gw-column: 100px;          // Column Width
$gw-gutter: 40px;

h1, h2, h3 {
  font-family: $lucida-grande;
  display: inline-block;
  color: #3F4153;
}
a {
  font-family: $helvetica;
}
.navbar.navbar-default {
  border: none;
}
#welcome {
  position: absolute;
  top: 30%;
  left: 40%;
  color: white;
  font-size: modular-scale(14px,   1, 1.618);
  color: white;
  font-family: $helvetica;
  font-size: 48px;
}
.welcome {
  font-weight: bold;
  font-size: 5em;
  font-family: $helvetica;
  letter-spacing: 0.0625em;
  margin-bottom: 10px;
  text-transform: uppercase;
  padding: 0px;
  text-shadow: 0 1px 3px rgba(0,0,0,0.3);
}
.navbar-header, .nav.navbar-nav > li > .link, .navbar-default .navbar-collapse, .navbar-default .navbar-form {
  background-color: #3F4153;
    &:hover {
      color: #EC6F3E;
    }
}
body {
  font-size: 16px;
  font-family: $helvetica;
  background-image: url(carbonfiber.png);
  background-repeat: repeat;
  font-color: #222;
  height: 100%;
}

p {
  font-family: $helvetica;
  font-color: #222;
}
.field {
  margin-bottom: 12px;
  margin-left: 50px;
  @include border-top-radius(5px);
  @include border-bottom-radius(5px);
  @include border-left-radius(5px);
  @include border-right-radius(5px);

  #{$all-text-inputs} {
    border: 1px solid #2B3A42;
  }
  #{$all-text-inputs-hover} { // Target the :hover pseudo-class
    background: #BDD4DE;
  }
  #{$all-text-inputs-focus} { // Target the :focus pseudo-class
    background: #EFEFEF;
  }
}
.actions input {
  @include button(simple, #5cb85c);
  text-decoration: none;
  font-size: 14px;
  margin-left: 75px;
  margin-top: 20px;
  &:hover {
    color: #244924;
  }
    a {
    @include button(simple);
    text-decoration: none;
    font-size: 14px;
    }
}
#rememberme {
  margin-top: -1.5em;
}
.message_container {
  position: fixed;
  top: 100px;
  left: 40%;
  float: left;
  margin: 0 auto;
  padding: 5px;
  width: 250px;
  list-style: none;
  word-wrap: break-word;
}
 .error_messages, #alert, .alert.alert-block.fade.in {
  font-size: 16px;
  border: 1px solid;
  padding:15px 10px 15px 50px;
  background-repeat: no-repeat;
  background-position: 10px center;
  color: #D8000C;
  background-color: #FFBABA;
  background-image: url('error.png');
  z-index: 1;
}
.userinfo {
  margin-top: 50px;
  margin-left: 50px;
}
.userinformation {
  margin-top: 50px;
  margin-left: 50px;
}
.userinformation .topic {
  font-weight: 900;
}
legend {
  color: #3F4153;
}
.btn.btn-primary.btn-lg {
  float: right;
}
#notice {
  font-size: 16px;
  color: #4F8A10;
  background-color: #DFF2BF;
  border: 1px solid;
  margin: 10px 0px;
  padding:15px 10px 15px 50px;
  background-repeat: no-repeat;
  background-position: 10px center;
}
.section-content {
  @include span-columns(10);
  @include shift(1);
  background: #fff;
  margin-top: 0px;
  margin-bottom: 92px;
  padding: 30px 40px 45px 40px;
  border: 1px solid #e3e3e3;
  border-radius: 6px;
  display: block;
  min-width: 445px;
  display: none;
}

.button {
  @include button(#EC6F3E);
  float: right;
  &:hover {
    color: #fff;
    text-decoration: none;
  }
}
.button-modal {
  @include button(#EC6F3E);
  margin-right: 200px;
  &:hover {
    color: #fff;
    text-decoration: none;
  }
}
.button-fix {
  @include button(#5cb85c);
  float: right;
  margin-bottom: 25px;
  margin-right: 100px;
  margin-top: 20px;
  &:hover {
    color: #fff;
    text-decoration: none;
  }
}
.diff {
  @include button(#438EB9);
  margin-bottom: 25px;
  margin-right: 100px;
  margin-top: 20px;
  &:hover {
    color: #fff;
    background-color: #1a384a;
    text-decoration: none;
  }
  a {
    text-color: #EC6F3E;
  }
}
.diff-search {
  @include button(pill, #438EB9);
  margin-bottom: 25px;
  margin-right: 100px;
  margin-top: 20px;
  &:hover {
    color: #fff;
    text-decoration: none;
  }
}
.control-group
{
  font-family: $helvetica;
  color: #393c3d;
}
.landingpage {
  overflow: hidden;
}
.logo {
  @include button(pill);
  &:hover {
    color: #fff;
    text-decoration: none;
  }
}
.collapse {
  background-color: #438eb9;
}
.link {
  color: white;
}
li a {
  text:white;
}
#main {
  background-image: url(carbonfiber.png);
  background-repeat: repeat;
}
.accord {
  margin: 0px 8px 8px 8px;
  float: right;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
  @include background-image(linear-gradient(hsla(0, 100%, 100%, 0.25) 0%, hsla(0, 100%, 100%, 0.08) 50%, transparent 60%), 
                             linear-gradient(lighten(#3F4153, 5%), darken(#494B60, 5%)));
}
.pull-right {
  padding-right: 2em;
}
.pull-left {
  padding-left: 2em;
}

#ui-accordion-accordion-header-0, #ui-accordion-accordion-header-1, #ui-accordion-accordion-header-0 p a, #ui-accordion-accordion-header-1 p a,  #ui-accordion-accordion-header-2 p a,  #ui-accordion-accordion-header-3 p a,  #ui-accordion-accordion-header-4 p a,  #ui-accordion-accordion-header-5 p a,  #ui-accordion-accordion-header-6 p a, #ui-accordion-accordion-header-7 p a, #ui-accordion-accordion-header-8 p a, #ui-accordion-accordion-header-8 p a, #ui-accordion-accordion-header-9 p a, #ui-accordion-accordion-header-10 p a{
  color: #ffffff;
}
a.insidelink {
  color: #438eb9;
  text-decoration: underline;
  letter-spacing: 0.0625em;
  margin-left: 0.5em;
  margin-bottom: 1em;
  &:hover {
    color: #3F4153;
  }
}
.accordion-title {
  letter-spacing: 0.0625em;
  color: #fff;
  text-decoration: none;
}

/* CUSTOMIZE THE CAROUSEL
    -------------------------------------------------- */

    /* Carousel base class */
.carousel {
  margin-bottom: 0px;
  margin-top: -108px;
}
.carousel .container {
  position: relative;
  z-index: 9;
}
.carousel-control {
  height: 140px;
  margin-top: 150px;
  font-size: 120px;
  text-shadow: 0 1px 1px rgba(0,0,0,.4);
  background-color: transparent;
  border: 0;
  z-index: 10;
}
.carousel .item {
  height: 800px;
}
.carousel img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 500px;
}
.carousel-caption {
  background-color: transparent;
  position: static;
  padding: 0 20px;
  margin-top: 200px;
  font-family: $lucida-grande;
}
.carousel-caption h1,
.carousel-caption .lead {
  margin: 0;
  line-height: 1.25;
  color: #fff;
  font-family: $helvetica;
  text-shadow: 0 1px 1px rgba(0,0,0,.4);
}
.carousel-caption .btn {
  margin-top: 10px;
}

/* Featurettes
------------------------- */

.featurette-divider {
  margin: 80px 0; /* Space out the Bootstrap <hr> more */
}
.featurette {
  padding-top: 120px; /* Vertically center images part 1: add padding above and below text. */
  overflow: hidden; /* Vertically center images part 2: clear their floats. */
}
.featurette-image {
  margin-top: -120px; /* Vertically center images part 3: negative margin up the image the same amount of the padding to center it. */
}

/* Give some space on the sides of the floated elements so text doesn't run right into it. */
.featurette-image.pull-left {
  margin-right: 40px;
}
.featurette-image.pull-right {
  margin-left: 40px;
}

/* Thin out the marketing headings */
.featurette-heading {
  font-size: 50px;
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}
/* RESPONSIVE CSS
-------------------------------------------------- */
@media (max-width: 979px) {
  .container.navbar-wrapper {
    margin-bottom: 0;
    width: auto;
  }
  .navbar-inner {
    border-radius: 0;
    margin: -20px 0;
  }

  .carousel .item {
    height: 700px;
  }
  .carousel img {
    width: auto;
    height: 500px;
  }

  .featurette {
    height: auto;
    padding: 0;
  }
  .featurette-image.pull-left,
  .featurette-image.pull-right {
    display: block;
    float: none;
    max-width: 40%;
    margin: 0 auto 20px;
  }
}
@media (max-width: 767px) {
  .navbar-inner {
    margin: -20px;
  }
  .carousel {
    margin-left: -20px;
    margin-right: -20px;
  }
  .carousel .container {
  }
  .carousel .item {
    height: 600px;
  }
  .carousel img {
    width:auto;
    height: 300px;
  }
  .carousel-caption {
    padding: 0 70px;
    margin-top: 1em;
  }
  .carousel-caption h1 {
    font-size: 2em;
  }
  .carousel-control {
    height: 80px;
    margin-top: 80px;
    font-size: 80px;
    text-shadow: 0 1px 1px rgba(0,0,0,.4);
    background-color: transparent;
    border: 0;
    z-index: 10;
  }
  .carousel-caption .lead,
  .carousel-caption .btn {
    font-size: 1em;
    width: 100%;
  }
  .marketing .span4 + .span4 {
    margin-top: 40px;
  }

  .featurette-heading {
    font-size: 30px;
  }
  .featurette .lead {
    font-size: 18px;
    line-height: 1.5;
  }
}

.btn btn-success btn-lg {
  padding: 1em;
}
.signup-button {
  @include button;
  position: absolute;
  top: 70%;
  left: 50%;
  color: white;
  font-family: $lucida-grande;
  font-size: modular-scale(14px,   1, 1.618);
  font-weight: regular;
  &:hover {
    color: #fff;
    text-decoration: none;
  }
}
.lead {
  line-height: 1.2;
  font-size: 2em;
  text-shadow: 0 1px 3px rgba(0,0,0,0.3);
  margin-bottom: 8px;
  letter-spacing: 0.0825em;
  font-family: $helvetica;
  font-weight: 100;
  padding: 10px;
}
#footer {
  @include span-columns(12);
  color: #555;
  font-size: 13px;
  border-top: 1px solid #ddd;
  padding: 15px 0 15px;
  background-color: #fff;
  position: fixed;
  bottom: 0px;
}
#footer a {
  color: #555;
  text-decoration: underline;
}
.circular {
  width: 10em;
  height: 10em;
  border-radius: 5em;
  margin-bottom: 3em;
  margin-left: 38%;
  margin-top: 3em;
  -webkit-border-radius: 5em;
  -moz-border-radius: 5em;
  background: no-repeat;
  box-shadow: 0 0 8px rgba(0, 0, 0, .8);
  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
  -moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
  }
label.boolean.optional.control-label {
  visibility: hidden;
}
.profile-button {
  float: right;
}
.diff-order-show {
}
.navbar-default .navbar-nav > .dropdown > a .caret {
  border-top-color: white;
  border-bottom-color: white;
  &:hover {
    color: #438EB9;
  }
}
.button-business-index {
  @include button(#5cb85c);
  float: right;
  margin-top: -50px;
  &:hover {
    color: #fff;
    text-decoration: none;
  }
}
.accept-option {
  text-decoration: underline;
  font-weight: bold;
  color: #EC6F3E;
  &:hover {
    text-decoration: none;
  }
}
.couriermap {
  margin-left: 23%;
  margin-bottom: 3em;
}
input.btn {
  margin-left: 1%;
}
.courier-button {
  @include button(pill, #438EB9);
  margin-right: 50px;
  float: right;
  margin-top: -27px;
  font-size: 60%;
  &:hover {
    color: #fff;
    text-decoration: none;
  }
}
a.accept-button {
  @include button(pill, #438EB9);
  float: left;
  color: white;
  &:hover {
    color: #fff;
    text-decoration: none;
  }
}
.pic img {
  margin-bottom: 20px;
}
#progressbar {
  width: 100px;
  height: 25px;
  background: lightgrey;
}
#progressbar div {
  background: orange;
}
#myTab1 a {
  margin-top: 1em;
  background-color: #3F4153;
  color: #999;
  &:hover {
    color: #EC6F3E;
    text-decoration: none;
  }
}
#myTab1 .inactive a, #myTab2 .inactive a, #myTab3 .inactive a {
  color: #c1c1c1;
  background-color: #3F4153;
  letter-spacing: 0.0625em;
  &:hover {
    color: #EC6F3E;
    text-decoration: none;
  }
}
#myTab1 .active a {
  color:white;
  background-color: #656675;
  letter-spacing: 0.0625em;
  &:hover {
    color: #EC6F3E;
    text-decoration: none;
  }
}
.navbar-default .navbar-nav > .active > a {
  color:  #eee;
  font-family: $helvetica;
  &:hover {
    color: #EC6F3E;
    text-decoration: none;
    background-color: #656675;
  }
}
.nav.navbar-nav > li > .link {
color: #fff;
font-weight: 300;
letter-spacing: 0.0625em;
}
.navbar-header, .nav.navbar-nav > li > .link, .navbar-default .navbar-collapse, .navbar-default .navbar-form {
  background-color: #3F4153;
  font-weight: 300;
  letter-spacing: 0.0625em;
    &:hover {
      color: #EC6F3E;
    }
}
span.navbar-brand a {
text-decoration: none;
color: #b7b7b7;
font-weight: 300;
letter-spacing: 0.0625em;
padding-right: 1em;
}
.nav.navbar-nav > .navbar-text, .nav.navbar-nav > .dropdown > .dropdown-toggle {
color: #fff;
&:hover {
  color: #EC6F3E;
}
}
.caret.dropdown-toggle {
  color: #EC6F3E;
  &:hover {
    color: #EC6F3E;
  }
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
  border-color: #eee;
}
.navbar-default .navbar-toggle{
  border-color: #eee;
   &:hover {
     color: #EC6F3E;
   }
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open {
  background-color: #3F4153;
}
.navbar-default .navbar-nav > .open > a li a {
  text-color: #eee;
}
#lowerlink {
  text-color: #eee;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
  background-color: #3F4153;
  color: #eee;
  &:hover {
    color: #EC6F3E;
  }
}
.navbar-default .navbar-nav .open .dropdown-menu > li > a {
  color: #eee;
  &:hover {
    color: #EC6F3E;
  }
}
.navbar-default .navbar-nav > .dropdown > a .caret {
  color: #eee;
  &:hover {
    color: #EC6F3E;
  }
}
.navbar-default .navbar-nav .open .dropdown-menu > li > a {
 background-color: #3F4153;
 border-color: #3F4153;
  color: #eee;
   &:hover {
     color: #EC6F3E;
   }
 }
 .dropdown-menu {
  background-color: #3F4153;
 }
 #star.modal-body {
  width: 300px;
  margin-left: 25%;
 }
 .modal-title {
  margin-left: 25%;
  font-family: $helvetica;
  font-weight: 400;
  letter-spacing: 0.0625em;
 }
td.value #avgStar{
  padding-bottom: 0.5em;
 }